body {
  background-color:#c57587;
  color:black;
}

header {
  margin-top: 20px;
}
img {
  width: 100%;
  margin-bottom: 30px;
}

a {
  text-decoration: underline;
  color: #731717;
  margin-bottom: 30px;
}

a:hover{
  color: white;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: white ;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

h3{
  color: white ;
  text-align: left;
}

textarea, input{
  width: 100%;
  border-radius: 3px;
  border: 1px solid white;
  margin-bottom: 20px;
}

.posteo {
  color: white;
}
.posteo strong{
  display: block;
}
.posteo hr {
  border: 1px solid white;
}
/* PARA CORAZON */
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}
footer{
  padding: 10px;
}

.btn{
  margin-left: 20px;
}

/* Estilos comentarios */

